################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
Release/
Debug/
sh_amali/Debug
sh_amali/Release
*.user
